.classic_modal_container, .advanced_modal_container{
	margin: 0;
	max-width: 100%;
	height: 18.5vh;
	background-color: black;
	border-radius: 15px;
	padding: 1%;
	display: flex;
	flex-direction: column;
}

.text{
	color: white;
}

.random_game_container, .select_friend_game{
	margin: 0;
	max-width: 100%;
}


.select_friend_game {
	margin : 0.5% 0 0;
	background-color: transparent;
	border: 2px solid red;
	height: 20%;
}


/************** SELECT FRIEND { MANTINE } **************/
.mantine-Select-wrapper{
	height: 5vh;
	margin : 2.5vh auto 0;
	border: 1.5px solid lightgray;
	border-radius: 15px;
}

.mantine-Select-dropdown{
	max-width: 95%;
	border:1px solid lightgray;
	background-color: black;
}
.mantine-Select-item{
	color: darkgrey;
	/*border: 2px solid darkgray;*/
	margin: 1% auto 0;
}

.mantine-Select-input{
	height: 100%;
	font-size: 0.8em;
	color: lightgray;
}
/********************************************************/

a {
	text-decoration: none;
}

.random_game_container {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	height:10vh;
	background-color: black;
	border: 4px solid lightgray;
	border-radius: 68px;
	text-align: center;
	align-items: center;
	/*margin: 0 0 0.5%;*/
}
.random_game_logo {
	width: 100%;
	color: lightgray;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 3.5em;
	letter-spacing: -0.02em;
	margin-top: 2vh;
	margin-bottom: 0;
	text-align: center;

}
.logo_span_letter {
	margin-left: -4px;
	margin-right: -4px;
}

.play_button_logo {
    display: inline-block;
    background-color: #FF4571;
    border: 4px solid lightgray;
    border-radius: 100px;
    color: lightgray;
	margin-top: 1vh;
    width: 200px;
    height: 56px;
    font-size: 42px;
    text-align: center;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: 56px;
	text-decoration: none;
}

.play_button_logo:hover {
	color: #FF4571;
	background-color: lightgray;
}
