.adminTab_container {
    width: 30%;
    height: 30px;
    border: 0;
    outline: none;
    background-color: var(--purple-color);
    cursor: pointer;
    position: relative;
    color: var(--white-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    z-index: 1;
    margin: 1% auto;
}

.adminTab_content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: 'Tomorrow', sans-serif;
    font-size: 0.95rem;
    text-transform: uppercase;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: black;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    z-index: 2;
}

.adminTab_container:hover, .adminTab_container[data-active] {
    background-color: var(--white-color);
}

.adminTab_container:hover .adminTab_content, .adminTab_container[data-active] .adminTab_content {
    background-color: var(--black-light-color);
    color: var(--white-color);
}
.checkbox_element_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*background-color: darkred;*/
    margin-bottom: 0.5%;
    font-family: 'Tomorrow', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
}

.checkbox_element_input {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

.checkbox_element_label {
    width: 55%;
    display: flex;
    /*background-color: aquamarine;*/
}

.inputTimeText {
    background-color: transparent;
    color: lightgrey;
}

.inputTimeText input {
    background-color: transparent;
    border-radius: 0;
    color: white;
    border-color: var(--purple-color);
}

.inputTimeText input:focus{
    border-color: white;
    caret-color: white;
}

.inputTimeText.time {
    margin: 1% auto 1%;
}
.inputTimeText.text {
    margin: 1% auto 0;
}