@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;700&display=swap');

:root {
  --yellow-color: #fcee09; 
  --red-color: #ff003c;
  --black-color: #050a0e;
  --black-light-color: #050a0ee9;
  --blue-color: #00f0ff;
  --white-color: #fafafa;
  --purple-color: #781C9C;
}

.btn {
  width: 80%;
  height: 70px; 
  border: 0;
  outline: none;
  background-color: var(--purple-color);
  cursor: pointer;
  position: relative;
  color: var(--white-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  z-index: 1;
  margin: 0 auto 1.5%;
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: 'Tomorrow', sans-serif;
  font-size: 0.95rem;
  text-transform: uppercase;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: black;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  z-index: 2;
}

.btn:hover {
  background-color: var(--white-color);
}

.btn:hover .btn__content {
  background-color: var(--black-light-color);
  color: var(--white-color);
}

.btn__label {
  position: absolute;
  bottom: 0px;
  right: 8%;
  z-index: 3;
}

.channnelBadgeStyle {
  background-color: var(--black-color);
  border-top: 2px solid var(--purple-color);
  border-left: 2px solid var(--purple-color);
  border-right: 2px solid var(--purple-color);
  color: var(--white-color);
}

.btn:hover .channnelBadgeStyle {
  border-top: 2px solid var(--white-color);
  border-left: 2px solid var(--white-color);
  border-right: 2px solid var(--white-color);
}

.mantine-Badge-inner {
  font-weight: 400;
  font-family: 'Tomorrow', sans-serif;
  font-size: 0.65rem;
  text-transform: uppercase;
}