.membersList_header {
	height: 8%;
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
}

.membersList {
	height: 70%;
	width: 100%;
	background-color: black;
	color:white;
}

.membersList_element {
	height: 1%;
	width: 100%;
	background-color: lime;
}

.chat-list {
	display:flex;
	width: 100%;
	height: 10%;

	color:white;
	border-top: 2px solid #781C9C;
    border-left: 5px #781C9C;
    border-bottom: 5px #781C9C;
    position: relative;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #FAFBFF;
	
}

.divNameContainer {
	width: 100%;
	height: 3.5%;
	display: flex;
	flex-direction: row;;
	align-items: center;
	justify-content: flex-start;
}

.divNameContainer_content {
	width: 40%;
}

.divNameContent_name {
	cursor: pointer;
	font-family:'Tomorrow', sans-serif;
	font-weight:400;
	font-size: 1.15rem;
	letter-spacing: 1px;
	transition: all .2s ease-in-out;
}

.divNameContent_name.builder {
	color: rgb(255, 42, 0);
}

.divNameContent_name.admin {
	color: rgb(255, 179, 0);
}

.divNameContent_name:hover {
	transform: scale(1.05);
}

.directMessageStatus {
	width: 100%;
	height: 92%;
	border-left: 5px solid #781C9C;
	border-bottom: 5px solid #781C9C;
	border-bottom-left-radius: 15px;
}