@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;700&display=swap');

/* .messageContainer{
    width: 42%;
    height: 110px;
    border: 0;
    outline: none;
    background-color: var(--purple-color);
    position: relative;
    color: var(--white-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    z-index: 1;
    margin: 5% auto auto;
}
.messageContent {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: black;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
    z-index: 2;
} */

.messageHeader{
    display: flex;
    width: 40%;
    background-color: rgb(241, 47, 255);
    border: 2px solid var(--purple-color);
}

.avatarStyle {
    border-right: 2px solid var(--purple-color);
}

.usernameDetails_container {
    display: flex;
    width: 100%;
    font-family: 'Tomorrow', sans-serif !important;
    text-transform: uppercase;
}

.usernameHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 1.25rem;
}

.detailsHeader {
    width: 50%;
    height: 100%;
    font-size: 0.85rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.messageText{
    /* height: 70%; */
    width: 40%;
    background-color: transparent;
    border-right: 2px solid var(--purple-color);
    border-left: 2px solid var(--purple-color);
    border-bottom: 2px solid var(--purple-color);

}

.textMessageArea {
    
    width: 100%;
    background: transparent;
    padding: 1%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    font-family: 'Tomorrow', sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    text-align: start;
    word-break: break-all;
}