.search_container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	color: white;
}

.search_input {
	width: 80%;
	height: 50px;
	outline: none;
	border: none;
	border-style: none;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.397);
	font-family: 'Smooch Sans', sans-serif;
	letter-spacing: 0.15em;
	font-size: 1.5rem;
	color: white;
}

 .search_input::placeholder {
	background-color: transparent;
	color: rgba(255, 255, 255, 0.493);
	font-size: 1.5rem;
	letter-spacing: 0.15em;
	font-weight: 400;
}


.search_input:focus {
	border-style: none;
	border: none;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.397);
	font-family: 'Smooch Sans', sans-serif;
	letter-spacing: 0.15em;
	font-size: 1.5rem;
	color: white;
}
