.PasswordCheck_container {
	color: white;
	position: relative;
	font-family: 'Tomorrow', sans-serif;
	margin: 10% auto 0;
}

.PasswordCheck_firstRow {
	font-size: 1.55rem;
	margin: 1% auto 0.5%;
}

.PasswordCheck_secondRow {
	font-size: 1.15rem;
	margin: 0.5% auto 0.5%;
}

.passwordButtonCheck {
	width: 10%;
	height: 40px; 
	border: 0;
	outline: none;
	background-color: var(--purple-color);
	cursor: pointer;
	position: relative;
	color: var(--white-color);
	clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
	z-index: 1;
	margin: 1% auto auto;
  }
  
  .passwordButtonCheck_content {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-family: 'Tomorrow', sans-serif;
	font-size: 0.95rem;
	text-transform: uppercase;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background-color: black;
	clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
	z-index: 2;
  }
  
  .passwordButtonCheck:hover {
	background-color: var(--white-color);
  }
  
  .passwordButtonCheck:hover .passwordButtonCheck_content {
	background-color: var(--black-light-color);
	color: var(--white-color);
  }