* {
    font-family: 'Arial', sans-serif;
    overflow-anchor: none;
}

#chat {
    overflow: hidden;
    z-index: 900;
    position: fixed;
    bottom: 25px;
    right: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: darkred;
    background-color: #e6f3f3;
    overflow-y: hidden;
}

#text-box {
    height: 80px;
    border-width: 0;
    padding: 5px;
    width: 290px;
    height: 40px;
    resize: none;
    overflow: hidden;
}

.aperta {
    width: 300px;
    height: 400px;
    border-radius: 0.5vw 0.5vw 0 0;
}

.chiusa {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*background: url('foto.jpg');*/
    background-size: cover;
}


#user {
    background-color: darkred;
    padding: 0.5px;
    color: white;
    vertical-align: top;
    font-weight: 900;
    height: 50px;
    text-align: center;
}

#user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    z-index: 100;
}

#nome {
    position: absolute;
    font-size: 20px;
    top: 10px;
    margin-left: 0.25vw;
    font-weight: 400;
    max-height: 25px !important;
    max-width: 115px !important;

}

#chiudi {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    transform: rotate(45deg);
}


#chiudi:hover {
    transform: scale(1.5) rotate(45deg);
}

#chiudi:active {
    transform: scale(0.5) rotate(45deg);
}

#apri {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 25px;
    cursor: pointer;
    transform: rotate(90deg);
}

#apri:hover {
    transform: scale(1.5) rotate(90deg);
}

#apri:active {
    transform: scale(0.5) rotate(90deg);
}

#conversazione {
    padding: 10px;
    /*height: 42px;*/
    height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 220px !important;
    /*transform: translateX(150px);*/

    /*scrollbar su mozilla*/
    scrollbar-color: darkred #e6f3f3;
    scrollbar-width: thin;
}

.body-photo-left {
    border-radius: 50%;
    float: left;
    width: 35px;
    height: 35px;
    margin: 4px;
    
}

.body-photo-right {
    border-radius: 50%;
    float: right;
    width: 35px;
    height: 35px;
}

/*scrollbar su altri browser*/

#conversazione::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #e6f3f3;
    scrollbar-width: thin;
}

#conversazione::-webkit-scrollbar-thumb {
    background: darkred;
    scrollbar-width: thin;
}


.messaggio {
    display: inline-block;
    position: relative;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: white;
    width: 220px;
    
    word-break: break-word;
}


.assistente {
    border-radius: 10px 10px 10px 0;
    border-color: LightCoral;
    margin-left: auto;
}

.utente {
    border-radius: 10px 10px 0 10px;
    border-color: LightSeaGreen;
    margin-left: auto;
}



/* triangolini */
.messaggio:after {
    content: '';
    position: absolute;

    width: 0;
    height: 0;

    border: 15px solid;
    border-color: rgba(0, 0, 0, 0);
    transform: scaleY(0.8);
}

.utente:after {
    border-left-color: LightSeaGreen;

    left: 100%;
    top: 50%;
    margin-top: -15px;
}

.assistente:after {
    border-right-color: LightCoral;

    top: 50%;
    right: 100%;
    margin-top: -15px;
}


.dettagli {
    display: table-cell;
    width: 50%;
    height: 10px;
    font-size: 8px;
    font-weight: 900;
    opacity: 0.3;
    margin-bottom: 5px;
}

.testo {
    width: 100%;
}

.scrittura {
    background-color: white;
    height: 88px;
}



.invio {
    padding: 10px;
    border-style: solid;
    /* border-color: DarkSlateGrey; */
    border-width: 0;
    background-color: darkred;
    color: white;
    /*margin-top: 2px;*/
    width: 100px;
    margin-left: 200px;
    cursor: pointer;

    transition: 0s;
}

.invio:hover {
    background-color: DarkSlateGrey;
}

.invio:active {
    background-color: darkred;
    padding: 6px;
    border-width: 4px;
    color: white;
    width: 100px;
    margin-left: 200px;
    cursor: pointer;
}

.chiuso {
    opacity: 0;
}


#spiegazione {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    z-index: -1;
}

input[type="radio"] {
    display: none;
}

/* Rompe i checkbox di Admin/Owner panel */
/* input[type="checkbox"] {
    display: none;
} */

.nome-stanza {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: darkred;
    text-align: center;
}

#indietro {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 22px;
    cursor: pointer;
}
#indietro:hover {
    transform: scale(1.5);
}
#indietro:active {
    transform: scale(0.5);
}

#search {
    padding: 10px;
    width: 300px;
    border-width: 0 0 1px 0;
    border-color: darkred;
}

*:focus {
    outline: none;
    /*box-shadow: none;*/
}

#list {
    height: 265px;
    overflow-y: auto;
    overflow-x: hidden;
}

#crea-gruppo {
    overflow: hidden;
    overflow-y: hidden;
    z-index: 900;
    position: fixed;
    bottom: 25px;
    right: 335px;
    border-style: solid;
    border-width: 2px;
    border-color: darkred;
    width: 300px;
    background-color: #e6f3f3;
    height: 400px;
    border-radius: 0.5vw 0.5vw 0 0;
}

#crea {
    height: 50px;
    text-align: center;
    border-color: white;
    background-color: darkred;
    /* margin-top: 13px; */
}

#create-group {
    background-color: darkred;
    padding: 10px;
    font-weight: 400;
    color: white;
    width: 300px;
    height: 50px;
    cursor: pointer;
    border: none;
    letter-spacing: 2px;
}

#avanti {
    background-color: darkred;
    padding: 10px;
    font-weight: 400;
    color: white;
    width: 300px;
    height: 50px;
    cursor: pointer;
    border: none;
    letter-spacing: 2px;
}

#create-group:hover {
    transform: scale(1.5);
}

::-webkit-scrollbar-thumb {
    background: darkred;
    scrollbar-width: thin;
}

#list::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
#list::-webkit-scrollbar-track {
    background-color: #e6f3f3;    /* backgroud of the scrollbar */
    scrollbar-color: darkred;   /* color of the scroll thumb */

  }
  
#list::-webkit-scrollbar-thumb {
    scrollbar-width: thin;
  }

#group-name {
    width: 300px;
    height: 35px;
}
#group-pass {
    width: 300px;
    height: 35px;
}
#group-search {
    width: 300px;
    height: 35px;
}

#helper1 {
    width: auto;
    height: 125px;
    text-align: center;
    font-size: medium;
    letter-spacing: 2px;
    padding-top: 50px;
    margin-bottom: -50px;
    background-color:darkred;
    color: white;
    font-weight: medium;
}

#helper2 {
    width: auto;
    height: 115px;
    background-color:darkred;
}


/****************/

.message-user {
    font-size: 12px;
    margin-bottom: 5px;
    width: 10px;
    height: 5px;
    display: table-cell;
    padding-left: 25%;
    color: darkred;
}

#helper2.extended{
    animation: 0s 0;
    height: 600px;
}

#helper2.short{
    height: 100px;
}

#crea-gruppo.extended{
    animation: none;
    transition: 0s;
    background-color: darkred;
}
