.table_dashboard::-webkit-scrollbar {
  width: 13px;
}

/* Track */
.table_dashboard::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5vw;
}

/* Handle */
.table_dashboard::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 5vw;
}

/* Handle on hover */
.table_dashboard::-webkit-scrollbar-thumb:hover {
  background: #838383;
}

.wrap {
  position: relative;
  top: 3vh;
  height: 85vh;
  margin: 5%;
  display: grid;
  grid-template-columns: 0.8fr 0.4fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "main request"
    "box-item request";
}

.request {
  background: #fff;
  grid-area: request;
  border-radius: 20px;
}

.main {
  grid-area: main;
  background: #fff;
  border-radius: 15px;
}

.box-item {
  grid-area: box-item;
  background: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

/***** ACCOUNT DECORATION *****/

.account_decoration {
  position: relative;
  /* left: 25%; */
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.account_decor_top {
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: auto;
  position: relative;
  /* top: 5%;
  right: 5%; */
  z-index: 0;
}

.account_decor_down {
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: auto;
  position: relative;
  z-index: 0;
}

.txt_container_account {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.txt-account {
  position: relative;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 2vw;
  color: #000000;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  font-weight: 530;
  text-align: center;
}

.txt-account-strong {
  color: #781C9C;
  font-family: 'Smooch Sans', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 620;
}

.score__txt {
  margin-top: 20px;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 3vw;
  letter-spacing: 0.2rem;
  font-weight: 450;
}

.rank-txt {
  color: #000000;
  font-weight: 300;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 3vw;
  letter-spacing: 0.2rem;
  text-align: center;
}

.no-rank {
  color: #000000;
  font-weight: 500;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 4vw;
  letter-spacing: 0.2rem;
}

/*** Avatar img ***/

.avatar__img-account {
  position: relative;
  left: 2%;
  width: 155px;
  height: 155px;
  margin: 5%;
}

.avatar__img-account img {
  width: 90%;
  height: 90%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #781C9C;
  /* border: 4px solid transparent;
  background: linear-gradient(45deg, #781C9C, #B830F0);
  transform: translateY(10%);
  -webkit-mask-composite: xor;
          mask-composite: exclude;  */
}

.table-tabs {
  position: relative;
  top: 1%;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #781C9C !important;
}

.css-10d9dml-MuiTabs-indicator {
  background-color: #781C9C !important;
}

.css-1p823my-MuiListItem-root {
  text-align: center !important;
}

.css-1p823my-MuiListItem-root {
  justify-content: center !important;
}

.css-8zpgeo-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #781C9C !important;
}

.css-1b46qz1-MuiList-root:nth-child(even) {
  background-color: rgba(235, 233, 247, 1);
}

.css-967ry0-MuiList-root:nth-child(even) {
  background-color: rgba(235, 233, 247, 1);
}

.table_dashboard {
  position: relative;
  display: flex;
  top: 5%;
  flex-direction: column;
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto;
  /* background-color: rgba(235, 233, 247, 1); */
}

/******* buttons *******/

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 10%;

}

.noselect {
  width: 4vw;
  height: 5vh;
  cursor: pointer;
  background-color: #781C9C;
  background-image: #781C9C;
  border: none;
  border-radius: 50%;
  transition: 200ms;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.363);
}

.noselect svg {
  fill: white;
  width: 2rem;
  height: 2rem;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.noselect:before {
  position: absolute;
  display: block;
  transform: translateX(-50%) translateY(45px);
  font-size: 15px;
  transition: 200ms;
  color: transparent;
  font-weight: bold;
}

.noselect:active {
  animation: press 0.2s 1 linear;
}

@keyframes press {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.88);
  }

  to {
    transform: scale(1);
  }
}

.noselect:hover::before {
  color: #fff;
}

.noselect:hover svg {
  animation: bounce 2s infinite linear;
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(-50%)
  }

  25% {
    transform: translateX(-50%) translateY(-65%)
  }

  50% {
    transform: translateX(-50%) translateY(-50%)
  }

  75% {
    transform: translateX(-50%) translateY(-35%)
  }

  100% {
    transform: translateX(-50%) translateY(-50%)
  }
}

.noselect:focus {
  outline: none;
}

/***** Friend request ****/

/* .friend-request {
  position: absolute;
  left: 10%;
  bottom: -1%;
}

.column {
  width: 35%;
  float: left;
  padding: 2.3rem 2.3rem;

}

.txt-request {
  font-family: 'Smooch Sans', sans-serif;
  color: #000000;
  font-size: 1.2vw;
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: -5px;
} */

/* LIST HOVER  */
/* .css-1b46qz1-MuiList-root:hover {
  transform: scale(1.03);
} */

/* .table-prv {
  display: flex;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
} */


/* .profile-card {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  max-width: 50%;
  max-height: 55%;
  margin: auto;
  background-color: #fff;
  position: relative;
  display: block;
  align-items: center;
  align-content: center;
  -webkit-box-shadow: 5px 5px 15px 5px #000000, 43px 50px 23px -25px #000000;
  box-shadow: 5px 5px 15px 5px #000000, 43px 50px 23px -25px #000000;
}

.container-account {
  width: 100vw;
  max-height: 30vh;
  height: auto;
}



.box-item {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  right: 7%;
}

.inf-account {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.profile-card-inf__title {
  font-family: 'Odibee Sans', sans-serif;
  font-size: 1.3vw;
  letter-spacing: 0.1rem;
}

.profile-card-inf__txt {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.profile-card-inf__item {
  padding: 2.3rem 2.3rem;
} */



/****************** MODAL ***********************/
/* .b_account {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Smooch Sans', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  color: #781C9C;
  object-fit: contain;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadein 0.5s;
}

.modal-box {
  display: block;
  background: white;
  width: 50%;
  height: 50%;
  padding: 1rem;
  border-radius: 1rem;
}

.modal_close_button {
  transition: opacity 0.4s ease 0.1s, color 0.2s, transform 0.2s;
  border: none;
  color: #781C9C;
  background: none;
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  right: 25%;
  margin-right: 3%;
  margin-top: 1%;
}

.close-modal {
  animation: fadeout 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

 */

/************* *****************/

/* .css-1c0y7i7 {
  flex-wrap: nowrap !important;
  flex-direction: row !important;
} */



/****************** RESPONSIVE **************/

@media screen and (max-width: 1030px) {

  .avatar__img-account {
    max-width: 120px;
    max-height: 120px;
  }

  .profile-card-inf__item {
    letter-spacing: 0.1rem;
    font-size: 2rem;
  }

  .b_account {
    font-size: 1rem;
  }

  .profile-card-inf__item {
    padding: 1rem 1rem;
  }

  .account_decoration .account_decor {
    opacity: 0;
  }

  .txt_container_account {
    text-align: center;

  }

  .rank-txt {
    left: 10%;
    top: 45%;
  }

  .profile-card-inf__title {
    font-size: 1.3vw;
    letter-spacing: 0.1rem;
  }

  .profile-card-inf__txt {
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }

  .noselect {
    width: 7vw;
    height: 5vh;
  }

  .noselect svg {
    fill: white;
  }
}

/***** FRIEND LIST *****/

.p_friendlist {
  font-family: 'Smooch Sans', sans-serif;
  color: #000000;
  font-size: 1.5vw;
  letter-spacing: 0.1rem;
  font-weight: 800;
  margin: 0 2vw;
}