.header {
	position: fixed;
	display: flex;
	/* flex-direction: row; */
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	/* background-color: #000; */
	background-color: transparent;
	width: 100%;
}

@media (min-width: 900px) {
	.css-nxpc53-MuiTypography-root {
		justify-content: space-around !important;
	}

	.css-3jrevy-MuiTypography-root {
		justify-content: space-around !important;
		padding-left: 5% !important;
	}
}

.css-hyum1k-MuiToolbar-root {
	justify-content: space-between;
	min-height: 90px !important;
}


.css-10hburv-MuiTypography-root {
	font-family: 'Smooch Sans', sans-serif !important;
	font-size: 1.4rem !important;
	letter-spacing: 0.15em !important;
	font-weight: 500 !important;
}

.css-1d4vqq0-MuiButtonBase-root-MuiListItemButton-root:hover {
	background-color: #b700ff63 !important;
}

a:-webkit-any-link {
	cursor: pointer;
	text-decoration: none;
}

.navigation {
	position: relative;
	display: table-cell;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-family: 'Smooch Sans', sans-serif;
	letter-spacing: 0.15em;
	font-size: 25px;
	transition: 0.2s ease color;
	/* margin-right: 30%; */
}

nav {
	position: absolute;
	top: 5%;
	right: 0;
	left: 0;
	width: 30%;
	display: table;
	margin: 0 auto;
	transform: translateY(-50%, -50%);
	padding: 0rem;
}

.navigation .nav-link {
	position: relative;
	display: table-cell;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-family: 'Smooch Sans', sans-serif;
	letter-spacing: 0.15em;
	font-weight: 500;
	font-size: 25px;
	transition: 0.2s ease color;
	margin: 0 2rem;
	padding: 0 2rem;
}

.navigation .nav-link:before,
.navigation .nav-link:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	transition: 0.2s ease transform;
}

.navigation .nav-link:before {
	top: 0;
	left: 10px;
	width: 6px;
	height: 6px;
}

.navigation .nav-link:after {
	top: 5px;
	left: 18px;
	width: 4px;
	height: 4px;
}

.navigation .nav-link:nth-child(1):before {
	background-color: #6626ee;
}

.navigation .nav-link:nth-child(1):after {
	background-color: #e91e63;
}

.navigation .nav-link:nth-child(2):before {
	background-color: #00e2ff;
}

.navigation .nav-link:nth-child(2):after {
	background-color: #89ff00;
}

.navigation .nav-link:nth-child(3):before {
	background-color: rgb(217, 125, 32);
}

.navigation .nav-link:nth-child(3):after {
	background-color: purple;
}

.navigation .nav-link:nth-child(4):before {
	background-color: rgb(29, 101, 164);
}

.navigation .nav-link:nth-child(4):after {
	background-color: rgb(234, 187, 35);
}

.indicator {
	position: absolute;
	left: 5%;
	bottom: 0;
	width: 56px;
	cursor: pointer;
	height: 3px;
	background-color: transparent;
	/* #6626ee;*/
	border-radius: 5px;
	transition: 0.2s ease left;
}

.navigation .nav-link:hover {
	color: #e91e63;
}

.navigation .nav-link:hover:before,
.navigation .nav-link:hover:after {
	transform: scale(1);
}

.navigation .nav-link:nth-child(1):hover~.indicator {
	background: linear-gradient(130deg, #6626ee, #e91e63);
}

.navigation .nav-link:nth-child(2):hover~.indicator {
	left: 27%;
	width: 58px;
	background: linear-gradient(130deg, #00e2ff, #89ff00);
}

.navigation .nav-link:nth-child(3):hover~.indicator {
	left: 48%;
	width: 145px;
	background: linear-gradient(130deg, purple, palevioletred);
}

.navigation .nav-link:nth-child(4):hover~.indicator {
	left: 85%;
	width: 50px;
	background: linear-gradient(130deg, rgb(29, 101, 164), rgb(234, 187, 35));
}

/********** Search **********/

.search-avatar {
	display: flex;
	align-items: center;
}

.search-box {
	width: fit-content;
	height: fit-content;
	position: relative;
}

.input-search {
	height: 50px;
	width: 50px;
	border-style: none;
	padding: 10px;
	outline: none;
	border-radius: 25px;
	transition: all .5s ease-in-out;
	background-color: transparent;
	padding-right: 40px;
	font-family: 'Smooch Sans', sans-serif;
	letter-spacing: 0.15em;
	font-size: 1.5rem;
	color: #fff;
}

.input-search::placeholder {
	color: rgba(255, 255, 255, 0.493);
	font-size: 1.5rem;
	letter-spacing: 0.15em;
	font-weight: 400;
}

.btn-search {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color: #fff;
	background-color: transparent;
	pointer-events: painted;
}

.btn-search:focus~.input-search {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.397);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.397);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.css-hzypd6-MuiSvgIcon-root:hover {
	color: purple;
}

/**************  List/table ****************/

.filter-search-results .filter-search-results-item {
	color: #000;
	font-family: 'Smooch Sans', sans-serif;
	letter-spacing: 0.15em;
	background-color: #fff;
	font-size: 1.3rem;
}

/* .filter-search-results .filter-search-results-item .avatar_search{
	background-color: transparent;
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
	opacity: 0;
	text-decoration: none;
} */
.input-search:not(:focus)~.filter-search-results {
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
	opacity: 0;
}

.avatar_search {
	width: 2.2rem;
	height: 2.2rem;
	text-align: center;
	object-fit: cover;
	color: transparent;
	border-radius: 50%;
	/* margin-left: 50%;
	top: 80%; */
}

.filter-search-bar .search-box {
	position: relative;
	max-width: 450px;
	margin: auto;
}

.filter-search-bar .filter-search-results {
	position: absolute;
	top: 120%;
	z-index: 100;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	box-shadow: 0 7.5px 10px -2.5px rgba(0, 0, 0, 0.15);
}

.filter-search-bar .filter-search-results-item {
	padding: 12.5px;
	border: 1px solid #f2f2f2;
	cursor: pointer;
}

.filter-search-bar .filter-search-results-item:hover {
	background-color: #f2f2f2;
}


.err_msg {
	margin: 1%;
	font-size: 1.3rem;
	color: #000;
	text-align: center;
	font-weight: 400;
}

