
.bell {
    animation-name: bell-ring;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bell-ring {
    10% {
      transform: rotate(-30deg);
    }
    20% {
      transform: rotate(30deg);
    }
    30% {
      transform: rotate(-20deg);
    }
    40% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    60% {
      transform: rotate(15deg);
    }
    70% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(10deg);
    }
    90% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }